*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container{
    width: 100%;
    /* height: 100vh; esta instruccion no dejaba que el footer creciera mas de la pantalla */
    display: flex;
    flex-direction: column;
}

.titulares{
    background: #2222;
    color: white;
    padding: 1rem;
}

/*inicio header*/
    header{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
           .absolute{
               width: 100%;
               top: 0;
               left: 0;
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 15px;
               position: relative;
               z-index: 1;
           }

           /*estas siguiente instrucciones es para menu en dispositivos moviles*/
           .menu-btn{
               font-size: 25px;
               cursor: pointer;
               display: none;
           }


           
                         .nav a{
                             text-decoration: none;
                             color: white;
                             font-size: 1.2rem;
                             padding: 5px;
                             margin: 0 10px;
                             transition: all 500ms ease;
                             /* border-bottom: 1px solid rgb(67, 142, 212); */
                              }

                                 .nav a:hover{
                                             color: rgb(67, 142, 212);
                                             border-bottom: 1px solid rgb(67, 142, 212);
                                              }
                          .sociales{
                                     font-size: 1.5rem;
                                    }
                                   .sociales a{
                                               text-decoration: none;
                                               }
                        
                                                .sociales .fab{
                                                                text-decoration: none;
                                                                color: white;
                                                                padding: 5px;
                                                              }

                                                           .sociales .fab:hover{
                                                                                color: rgb(67, 142, 212);
                                                                               }

                        .text{
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            margin-top: 170px;
                            font-size: 3vw;
                            position: relative;
                            z-index: 1;
                        }


                        video{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .capa{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.5);
                        }

/*fin header*/

/*inicio del main*/
    main{
        flex-grow: 1;
        }

    .flex-container{
        /* border: 1px solid blue; */
        margin: 8rem 1rem;
        padding: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center; /*los alinea en el cross axis*/
        /* background: rgb(240, 237, 237); */

    }

             .flex-item{
                 /* border: 1px solid red; */
                 flex: 1 1 200px; /*esto es lo que hace responsive esta caja*/
                 display: flex;
             }

                img{
                    width: 80%;
                    height: 80%;
                    margin: auto; 
                }

                h2{
                    text-align: center;
                    padding: 10px;
                }

                .flex-order-1{ /*intercambia la posicion de los textos y la imagen*/
                    order: 1;
                }

                

                /*inicio section de la iglesia*/

                main .presentacion2{
                    background: #667eea;
                    height: 600px;
                    display: flex;
                    flex-flow: column wrap;
                    margin-bottom: 100px;
                }
    
    
    
    
                       .item_presentacion2{
                           text-align: center;
                       }
    
                             .item_presentacion2 .img_presentacion2{
                                       width: 160px;
                                       height: 160px;
                                       text-align: center;
                                       border-radius: 60%;
                                       margin:100px 0 50px 0;
                                       object-fit: cover;
                                       object-position:right;
                                        }
    
    
                                        .titile_presentacion2{
                                            width: 80%;
                                            margin: 10px auto;
                                            font-size: 40px;
                                        }
                                        .info_presentacion2{
                                            font-size: 20px;
                                        }
    

            /*las cajas responsive*/
            .flex_responsive{
                display: flex;
                padding: var(--boton-padding);
                flex-flow: row wrap;
                background: #fff;
            }
            .item_responsive{
                height: 200px;
                text-align: center;
                border: 2px solid #fff;
                flex:1 1 300px;
                overflow: hidden;
                position: relative;
                /* cursor: pointer; */
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
            }


            .item_responsive img{
                width: 100%;
                height: 100%;
                margin: auto;
                object-fit: cover;
                display: block;
            }

            .hover-galeria{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                transform: scale(0);
                background: rgba(5, 6, 94, 0.7);  /*hsla(273,91%,27%,0.7);*/
                border-radius: 10px;
                transition: transform .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                /* color: white; */
                flex-direction: column;
            }


            .hover-galeria img{
                  width: 20px;
                  height: 20px;
                  margin: 0;
                  background: white;
                  border-radius: 5px;
                  cursor: pointer;
            }

            .hover-galeria p{
                color: #fff;
                text-decoration:#fff;
            }

            .item_responsive:hover .hover-galeria{
                transform: scale(1);
            }                            

/*fin del main*/
    
/*inicio footer*/
.footer{
    background:  #00162b;
    width: 100%;
    margin-top: 6rem;
    /* height: 475px; */
}
.footer-container{
      /* background: yellow; */
      width: 90%;
      margin: auto;
      margin-top: 6rem;
      margin-bottom: 6rem;
      display: flex;
      flex-flow: row wrap;
      color: white;
}

        .respon{
            flex: 1 1 200px;
        }

        .footer-container .titulo{
            display: block;
            background: url('./imagens/pxgray.png'),white;
            height: auto;
            font-size: 40px;
            text-align: center;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            letter-spacing: 2px;
            color: black;
            border-radius: 5px;
            margin-bottom: 15px;
        }



       .footer-menu{
           /* background: violet; */
           display: flex;
           flex-flow: column wrap;
           justify-content: flex-start;
           margin: 20px;
       }

                   .footer-items{
                       /* background: salmon; */
                       margin: 20px auto;
                       width: 90%;
                       font-size: 25px;
                       display: flex;
                       flex-flow: column wrap;
                      
                   }
                               .footer-items .footer-item{
                                   /* background: chocolate; */
                                   text-decoration: none;
                                   color: rgb(243, 235, 235);
                                   margin-top: 30px;
                                   border-bottom: 1px solid rgb(243, 235, 235);
                                   padding: 10px; 
                                   display: inline-block;
                                   transition: all 300ms ease;   
                               }
                               .footer-items .footer-item:hover{
                                   color: rgb(155, 153, 153);
                                   font-size: 25.5px;
                               }


       .footer-location{
           /* background: purple; */
           /* flex: 1 1 200px; */
           display: flex;
           flex-flow:  column wrap;
           margin: 20px;
           text-align: center;
       }

                      .footer-location iframe{
                          width: 100%;
                          height: 290px;
                          margin-top: 10px;
                          border-radius: 5px;
                          border: 1px solid white;
                          box-shadow: 0px 0px 5px gray;
                      }




       .footer-social{
           /* background: red; */
           /* flex: 1 1 200px; */
           display: flex;
           flex-flow: column wrap;
           margin: 20px;
           text-align: center;
       }
  
              .contact{
                  /* background: pink; */
                  height: auto;
                  width: 100%;
                  padding: 0 10px;
                  margin-bottom: 10px;
                  
              }
              
              .footer__container-icons{
                           /* background: green; */
                           display: inline-block;
                           width: 60px;
                           height: 60px;
                           border: 1px solid white;
                           border-radius: 50%;
                           text-align: center;
                           font-size: 30px;
                           margin: 20px 20px;
                           text-decoration: none;
                           
                           line-height: 60px;
                       }
                       
                       .footer-social  .footer__icon{
                                             text-decoration: none;
                                             padding: 5px;
                                             color:#fff;
                                             cursor: pointer;
                                             transition: all 300ms ease;
                                           }

                                           .footer-social  .footer__icon:hover{
                                            color: rgb(155, 153, 153);;
                                            font-size: 35px;
                                          }

/*media query de la pagina*/

/*inicio media query del menu*/

@media screen and (max-width:910px){

    .nav a{ /*reduce el tamaño de la letra y quita los bordes inferiores del menu*/
        font-size: 1rem;
        border-bottom: none;
    }
    
}

@media screen and (max-width:853px){
    .menu-btn{ /*aparece la imagen del bar*/
        display: block;
    }

    .logo{
        font-size: 10px;
    }

    .sociales{
        margin-right: 20px;
    }

    .text{
        display: none;/*ya no aparece la palabraMountainBike Jerico*/
    }

    .nav{
        position: fixed;
        top: 11vh; /*es la distancia que queda arriba cuando sale el menu*/
        left: 0;
        background: #f3eeee;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;/*de transicion del efecto ci¿uando sale*/
        transform: translateX(-100%);/*se desaparece el todo el menu*/
    }

    .nav a{
        color: rgb(189, 199, 189);
        display: flex;
        flex-direction: column;
        align-items: center;/*lo centra en forma horizontal*/
        line-height: 100px; /*lo centra en forma vertical*/
        text-align: center;
    }

    .nav a:hover{
        color: darkgrey;
        background: #706f6f;
        width: 100%;
    }

    .nav.active{
        transform: translateX(0);/*aparece el menu al oprimir el bar*/
    }

}

@media screen and (max-width:447px){

    .flex-order-2{ /*en la segunda section me pone primero el texto y luego la imagen*/
        flex-direction: column-reverse;
    }
    
    .flex-container{
        /* border: 1px solid blue; */
        margin: 5rem 1rem;
       
    }

    img{
        width: 90%;
    }

    h2{
        margin-top: -10px;
        text-align: center;
    }

    p{
        margin-bottom: 10px;
        text-align: center;
    }

    .flex-order-2 .flex-item{
        margin-top: -40px;
    }

    .flex-order-2 .flex-item p{
        margin-bottom: 5px;
    }

    .item_presentacion2 .img_presentacion2{
        width: 120px;
        height: 120px;
    }

    .titile_presentacion2{
        width: 80%;
        margin: 10px auto;
        font-size: 30px;
    }
    .info_presentacion2{
        font-size: 15px;
        padding: 1px;
    }

}

@media screen and (max-width:355px){

    .sociales{
        display: none;
    }
    
}